body {
	margin: 5% auto;
	background: #073642;
	color: #eee8d5;
	font-family: font"Lucida Console", Monaco, monospace;
	font-size: 16px;
	line-height: 1.4;
	max-width: 73%;
}
code {
	background: white;
}
a {
	border-bottom: 0;
	color: #839496;
	text-decoration: none;
}
a:hover {
	color: #268bd2;
	border-bottom: 1px solid;
}
h1, h2 {
	line-height: 1.2;
    text-align: center;
}
div {
    text-align: center;
}
strong {
    color: #dc322f;
}
#navbar {
    color: #268bd2;
}
blockquote {
	background: #eee8d5;
	color: #073642;
	border-left: 10px solid #2aa198;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D";
}
blockquote:before {
	color: #2aa198;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}
